@tailwind base;
@tailwind components;
@tailwind utilities;

/* import from others */
@import './font.css';
@import './typography.css';

:root {
  --fg-rgb: 0, 0, 0;
  --bg-start-rgb: 233, 236, 239;
  --bg-end-rgb: 233, 236, 239;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-rgb: 255, 255, 255;
    --bg-start-rgb: 0, 0, 0;
    --bg-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(to bottom, transparent, rgb(var(--bg-end-rgb)))
    rgb(var(--bg-start-rgb));
  color: rgb(var(--fg-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
